p{
	font-family: cursive;
}

#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	background-color: #eee;
	}

#header {
	text-align: center;
	background-color: #8BD343;
	float: left;
	width: 900px;
	color: white;
}

#logo{
	position: relative;
	left: 0px;
	top: 0px;
}
/* Try using
	position: absolute;
	top: 0px;
	right: 0px;
	*/

#content{
padding: 10px;
width: 960px;
	}

#nav {
	float: left;
	width: 200px;
	background-color: #8Bd343;
	margin: 10px;
	}

#nav h2{
	padding-top: none;
	margin-left: 10px;
}

#nav a{
	text-decoration: none;
	}

#nav ul{
	list-style-type: none;
}

.selected{
	font-weight: bold;
	background-color: red;
}
/*Selected not working*/

#main {
	float: right;
	width: 700px;
	margin-left: 10px;
}

#nav li:hover {
font-style: italic;
background-color: #a5cde6;
}

#footer {
	clear: both;
	margin-left: 20px;
	padding-top: 10px;
}
h4{
	color: blue;
	font-size: 16px;
}

p.excuse:hover{
	color: red;
}

/*Table layout*/

th, td{	
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

th{
	background-color: #8Bd343;
}

table{
	border: 3px solid black;
}

td{
	padding-left: 10px;
}

tr:nth-child(even){
	background-color: #red;
}
/*stipped colour pattern but not working */

img.test{
	display: none;
}

p.one:hover +img.test{
	display: block;	
	}

p.one:hover {
		background-color: lightcyan;
	}

.btn{
	display: inline-block;
    border: none;
    padding: .6em 1em;
    text-decoration: none;
    background: #8BD343;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
	}

.btn:hover{
	background: #93b719;
	text-decoration: underline;
}

.remedy{
    width: 300px;
    height: 300px;
    background: #fff;
    float: left;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.remedy a{
	text-decoration: none;
	color: black;
}

.h-img{
	float: right;
	width: 100px;
	height: 90px;
	position: relative;
	right: 80px;
	top: -70px;
}
