#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	background-color: #eee;
	}

#header {
	text-align: center;
	background-color: #8BD343;
	float: left;
	width: 900px;
	color: white;
}

#logo{
	position: relative;
	left: 0px;
	top: 0px;
}
/* Try using
	position: absolute;
	top: 0px;
	right: 0px;
	*/

#content{
padding: 10px;
width: 960px;
	}

#nav {
	float: left;
	width: 200px;
	background-color: #8Bd343;
	margin: 10px;
	}

#nav h2{
	padding-top: none;
	margin-left: 10px;
}

#nav a{
	text-decoration: none;
	}

#nav ul{
	list-style-type: none;
}

.selected{
	font-weight: bold;
	background-color: red;
}

#main {
	float: right;
	width: 700px;
	margin-left: 10px;
}

#nav li:hover {
font-style: italic;
background-color: #a5cde6;
}

#footer {
	clear: both;
	margin-left: 20px;

h4{
	color: blue;
	font-size: 14px;
}